/* 
	------- Reset Style Section ------- 
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video  {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline; 
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section  {
	display: block; }
body {
	line-height: 1; }
ol, ul {
	list-style: none; }
blockquote, q {
	quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none; }
table {
	border-collapse: collapse;
	border-spacing: 0; }


/* 
	------- General Style Section -------
*/

body {
	background: #fff;
	font: 14px/21px "Source Sans Pro", "Droid Sans", Arial, sans-serif;
	color: #444;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
}

/* Typography */
h1 {
	color: #181818;
	font-family: "Source Sans Pro", "Arial", serif;
	font-weight: normal; }
h1 a { font-weight: inherit; }
h1 { font-size: 46px; line-height: 50px; margin-bottom: 14px;}
.subheader { color: #777; }
p { margin: 0 0 20px 0; }
p img { margin: 0; }
p.lead { font-size: 21px; line-height: 27px; color: #777;  }
em { font-style: italic; }
strong { font-weight: bold; color: #333; }
small { font-size: 80%; }

/* Lists */
ul{ margin-bottom: 20px; }
ul { list-style: none outside; }
ul ul{ margin: 4px 0 5px 30px; font-size: 90%;  }
li { line-height: 18px; margin-bottom: 12px; }
li p { line-height: 21px; }

/* Images */
img.scale-with-grid {
	max-width: 100%;
	height: auto; 
}

.button,
button,
input[type="submit"],
input[type="button"] {
	border: 1px solid #aaa;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #444;
	display: inline-block;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0 1px rgba(255, 255, 255, .75);
	cursor: pointer;
	margin-bottom: 20px;
	line-height: normal;
	padding: 8px 10px;
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; 
}
.button.full-width,
button.full-width,
input[type="submit"].full-width,
input[type="reset"].full-width,
input[type="button"].full-width {
	width: 100%;
	padding-left: 0 !important;
	padding-right: 0 !important;
	text-align: center; }

/* Fix for odd Mozilla border & padding issues */
button::-moz-focus-inner,
input::-moz-focus-inner {
   border: 0;
   padding: 0;
}



.container                                  { position: relative; width: 960px; margin: 0 auto; padding: 0; }
.container .columns                         { float: left; display: inline; margin-left: 10px; margin-right: 10px; }


/* Base Grid */

.container .two.columns                     { width: 100px; }

.container .four.columns                    { width: 220px; }
.container .five.columns                    { width: 280px; }
.container .six.columns                     { width: 340px; }
.container .ten.columns                     { width: 580px; }
.container .twelve.columns                  { width: 700px; }
.container .fourteen.columns                { width: 820px; }
.container .sixteen.columns                 { width: 940px; }

/* Self Clearing Goodness */
.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

/* You can also use a <br class="clear" /> to clear columns */
.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}


/* Fix for odd Mozilla border & padding issues */
button::-moz-focus-inner,
input::-moz-focus-inner {
   border: 0;
   padding: 0;
}

/* Forms */
form {
	margin-bottom: 20px; }
fieldset {
	margin-bottom: 20px; }
input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
	border: 1px solid #ccc;
	padding: 6px 4px;
	outline: none;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #777;
	margin: 0;
	width: 210px;
	max-width: 100%;
	display: block;
	margin-bottom: 20px;
	background: #fff; }
select {
	padding: 0; }
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
	border: 1px solid #aaa;
	color: #444;
	-moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
	box-shadow:  0 0 3px rgba(0,0,0,.2); }
textarea {
	min-height: 60px; }
label,
legend {
	display: block;
	font-weight: bold;
	font-size: 13px;  }
select {
	width: 220px; }
input[type="checkbox"] {
	display: inline; }
label span,
legend span {
	font-weight: normal;
	font-size: 13px;
	color: #444; }

	
/* -----		1. HEADER		----- */

body {
	background:url(../images/subtle_dots.png);
}

#header {
	width:100%;
}

#logo {
	background:url(../images/heal_logo.png) no-repeat;
	height:90px;
	width:225px;
}

#logo-wrap {
	margin-left:0px;
	position:relative;
}

#logo-wrap a {
	width:193px;
	display:block;
	position:abolute;
}

/* Main navigation menu */
#menu-header-menu {
	float:right;
	list-style-type:none;
	margin-top:14px;
	margin-right:45px;
}

#menu-header-menu > li {
	position:relative;
	float:left;
	margin:10px;
	font-weight:bold;
	padding-top:5px;
	padding-left:25px;
	padding-bottom:20px;
	transition-duration:1s;
	-moz-transition-duration:1s;
	-o-transition-duration:1s;
	-webkit-transition-duration:1s;
}

#menu-header-menu > li a {
	color:#515151;
	font-size:1.3em;
	text-decoration:none;
	text-shadow:1px 1px #fff, 2px 2px #dddddd;
	border-bottom:none !important;
}

.main-header #menu-header-menu > li a {
	color:#fff;
	text-shadow:0px 0px 3px #000;
	border-bottom:1px dotted #fff;
	padding-bottom:2px;
}

.blue-color {
	color:#3675c1;
	font-weight:bold;
	text-decoration:underline;
}

#intro-text {
	color:#727272;
	border-top:2px solid #f3f3f3;
	border-bottom:1px solid #f3f3f3;
	padding:15px 30px 20px 58px;
	font-size:1em;
	opacity:0.7;
	transition-duration:0.7s;
	-moz-transition-duration:0.7s;
	-o-transition-duration:0.7s;
	-webkit-transition-duration:0.7s;
	margin:-9px 0 45px 15px;
	line-height:22px;
	font-family:"Droid Sans",sans-serif;
}

#intro-text:hover {
	opacity:1;
}

#header-email {
	display:block;
	background:url(../images/header-mail.png) no-repeat 20px 4px;
	padding-left:40px;
	margin-left:7px;
	padding-bottom:10px;
	font-family:"Droid Sans",sans-serif;
	font-size:0.9em;
}
	
#header-telephone {
	display:block;
	background:url(../images/header-telephone.png) no-repeat 20px 4px;
	padding-left:40px;
	margin-left:7px;
	font-family:"Droid Sans",sans-serif;
	font-size:0.9em;
}

.main-header #intro-text {
	display:none;
}



/* Social button */
#social-button {
	float:right !important;
	padding-left:25px;
	padding-right:25px;
	height:33px;
	width:140px;
	opacity:0.6;
	margin-top:-4px;
}

#social-button div {
	width:25px !important;
	height:6px;
	opacity:0.6;
	transition-duration:0.7s;
	-moz-transition-duration:0.7s;
	-o-transition-duration:0.7s;
	-webkit-transition-duration:0.7s;
	background-image:url(../images/social_icon3.png);
	float:left;
	margin-right:3px;
}

#social-button div:hover {
	opacity:1;
}

#google-img {
	background-position:-55px 0px;
}

#facebook-img {
	background-position:-28px 0px;
}

#twitter-img {
	background-position:-2px 0px;
}

#rss-img {
	background-position:-107px 0px;
}

#linkedin-img {
	background-position:-81px 0px;
}


#telephone-wrap {
	position:relative;
	left:-4px;
	padding-right:6px;
	padding-left:1px;
	padding-top:6px;
	font-size:1em;
	width:180px;
	color:#b3b3b3;
}


/* ----- 		3. BLOG STYLE		----- */


/* Page title */
#page-title-wrap {
	color:#8c8c8c;
	margin-bottom:50px;
	padding:24px 0 31px 30px;
	opacity:0.9;
	background:url(../images/page_title_bg.png) no-repeat;
	border-top:3px solid #e0e0e0; 
	border-bottom:3px solid #e0e0e0;
}

#breadcrumb {
	color:#e7e7e7;
}

#breadcrumb a {
	color:#e7e7e7;
	text-decoration:none;
}

#breadcrumb a:hover {
	text-decoration:underline;
}

#page-title {
	color:#fff;
	font-size:2.5em;
	text-transform:uppercase;
	padding-top:5px;
	margin-bottom:9px;
	font-weight:bold;
	text-shadow:1px 1px 0px #000;
}

#page-subtitle {
	font-size:1.1em;
	border-top:1px dotted #c8c8c8;
	display:inline;
	padding-top:3px;
	color:#e4e4e4;
}

.left-content {
	width:665px !important;
	padding-right:30px !important;
	border-right:1px dotted #e0e0e0;
}

.right-content {
	padding:4px 0px 25px 15px !important;
	width:198px !important;
}

/* Blog sidebar */ 
.sidebar-header {
	font-size:1.4em;
	border-bottom:3px solid #d8e4ef;
	padding:10px 0 10px 2px;
	opacity:0.8;
}

#aboutus-sidebar {
	margin-top:15px;
	color:#7b7b7b;
}


/* Leave reply field */
 #contact-form form input, #contact-form form textarea,{
	outline:4px solid #f6f6f6;
	border:1px solid #e0e0e0;
	border-radius:0;
	width:300px;
	height:23px;
	font-size:1.2em;
	color:#8f8f8f;
	opacity:1;
	transition-duration:0.5s;
	-moz-transition-duration:0.5s;
	-o-transition-duration:0.5s;
	-webkit-transition-duration:0.5s;
	padding:5px;
}

#contact-form form textarea{
	height:150px;
	width:450px;
}

 #contact-form label {
	font-size:1.3em;
	font-weight:normal;
	color:#8b8b8b;
	margin-bottom:6px;
}

#contact-form label span {
	color:#ffad00;
	font-size:1.2em;
}


/* Leave reply field */

#submit-button {
	margin-top:10px;
	height:40px !important;
	width:140px !important;
	background-color:#FFA90B;
	color:white !important;
	text-shadow:1px 1px 0px #838383;
	outline:3px solid #f6f6f6 !important;
	opacity:0.8 !important;
	transition-duration:0.5s;
	-moz-transition-duration:0.5s;
	-o-transition-duration:0.5s;
	-webkit-transition-duration:0.5s;
	border-radius:5px !important;	
	border:1px solid #e6a93a !important;
	box-shadow:inset 0px 0px 4px #fff;
}

#submit-button:hover {
	opacity:1 !important;
}



/* -----		5. SHORTCODES 		----- */

/* Typography */
.left-content h1 {
	font-size:2.6em;
	color:#4477B5;
	font-weight:bold;
	margin-bottom:8px !important;
}


/* Contact */
#contact-form form, #leave-reply-wrap form, #appointment-form form {
	position:relative;
	margin-top:40px;
	background-color:#e0e0e0;
	padding:45px;
	background:url(../images/redox_01.png);
	width:490px;
	border:1px solid #e0e0e0;
}



/* -----		6. OTHER PAGE 		----- */
.contact-page h1 {
	font-size:2.6em;
	color:#4477B5;
	font-weight:bold;
}

/* Contact */

#pre-method-text {
	margin-top:8px;
	color:#7B7B7B;
}

#visit-us-text {
	border-top:1px dotted #e0e0e0;
	border-bottom:1px dotted #e0e0e0;
	padding:20px 5px 20px 5px;
	color:#717171;
	font-size:1.2em;
	line-height:25px;
	width:640px;
}

#contact-method {
	color:#8a8a8a;
	margin-bottom:25px;
}

#contact-method li {
	border-bottom:1px dotted #e0e0e0;
	padding-bottom:4px;
}
#contact-skype {
	background:url(../images/contact-method-skype.png) no-repeat 0px 0px;
	padding-left:23px;
}

#contact-email {
	background:url(../images/contact-method-mail.png) no-repeat 0px 1px;
	padding-left:23px;
}

#contact-telephone {
	background:url(../images/contact-method-telephone.png) no-repeat 0px -1px;
	padding-left:23px;
}
#contact-skype {
	background:url(../images/contact-method-skype.png) no-repeat 0px 0px;
	padding-left:23px;
}

#contact-telephone span, #contact-skype span, #contact-email span {
	font-weight:bold;
	font-size:1.1em;
}

#contact-gmaps {
	width:640px;
	height:320px;
	border:1px solid #efefef;
	margin-top:40px;
	border:8px solid #fff;
	box-shadow:0px 0px 3px #E0E0E0;
	opacity:0.8;
	transition-duration:0.7s;
	-moz-transition-duration:0.7s;
	-o-transition-duration:0.7s;
	-webkit-transition-duration:0.7s;
	margin-bottom:40px;
}

#contact-gmaps:hover {
	opacity:1;
}


#contact-form form, #appointment-form form {
	border-radius:2px;
	background:url(../images/striped_lens.png);
	border-top:3px solid #FFAD00;
	border-bottom:1px solid #FFAD00;
	padding-top:50px;
}

#contact-form-text  {
	font-size:1.2em;
	color:#717171;
	line-height:26px;
	border-top:1px dotted #e0e0e0;
	border-bottom:1px dotted #e0e0e0;
	padding-top:20px;
	padding-bottom:20px;
}

.bg-envelop {
	background:url(../images/contact-mail-img.png);
	position:absolute;
	top:25px;
	right:22px;
	height:166px;
	opacity:0.15;
	width:166px;
}



/* -----		7. FOOTER 		----- */


/* Back to Top button */
#back-to-top {
	position:absolute;
	bottom:20px;
	right:30px;
	background:url(../images/totop_img.png) no-repeat;
	width:50px;
	height:50px;
	opacity:.6;
	transition-duration:0.4s;
	-moz-transition-duration:0.4s;
	-o-transition-duration:0.4s;
	-webkit-transition-duration:0.4s;
}

#back-to-top:hover {
	opacity:.9;
	bottom:25px;
}

#prefooter-line {
	height:3px;
	background-color:#e0e0e0;
	margin-bottom:46px;
	box-shadow:0px -1px 3px #e0e0e0;
}

#footer {
	position:relative;
	margin-top:150px;
	color:#fff;
	background-color:#1e5aa1;
	background:url(../images/footer-bg.png);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
}
#footer .container {
	padding-top:20px;
}

* Twitter feed */
#tweet-feed-wrap p {
	margin-bottom:0px;
}

#twitter-feed-header {
	font-weight:bold;
	text-transform:uppercase;
	margin-bottom:20px;
	
}

/* Stay tuned */
#mc_embed_signup {
	width:300px;
	margin-top:-10px;
	height:60px;
	border-bottom:1px dotted #4a80db;
	opacity:0.8;
	transition-duration:0.5s;
	-moz-transition-duration:0.5s;
	-o-transition-duration:0.5s;
	-webkit-transition-duration:0.5s;
}

#mc_embed_signup:hover {
	opacity:1;
}

#mce-EMAIL {	
	padding-left:8px;
	border:1px solid #396abb !important;
	width:203px;
	margin-top:2px;
	height:18px;
	display:inline;
	float:left;
	outline:none !important;
	box-shadow:inset 0px 1px 3px #909090 !important;
	border-radius:0px !important;
}

#mc-embedded-subscribe {
	float:left;
	display:inline;
	background-color:#FFA90B !important;
	color:#fff;
	opacity:0.8;
	transition-duration:0.5s;
	-moz-transition-duration:0.5s;
	-o-transition-duration:0.5s;
	-webkit-transition-duration:0.5s;
	text-shadow:1px 1px 0px #989898;
	border:1px solid #396abb !important;
	box-shadow:inset 0px 0px 4px #b2780d !important;
}

#mc-embedded-subscribe:hover {
	opacity:1;
}

#footer-contact {
	margin-top:20px;
	width:300px;
	color:#b4ceed;
}

#footer-contact div {
	margin-bottom:10px;
	clear:both;
}

#footer-contact span {
	display:block;
	clear:both;
}

#footer-contact div b {
	color:#eee;
	float:right;
	
}

#footer-telephone {
	background:url(../images/footer_telephone_img.png) no-repeat 0 4px;
	padding-left:20px;
}

#footer-skype {
	background:url(../images/footer_skype_img.png) no-repeat 0 4px;
	padding-left:20px;
}

#footer-address {
	background:url(../images/footer_address_img.png) no-repeat 0 4px;
	padding-left:20px;
}

#footer-mail {
	background:url(../images/footer_mail_img.png) no-repeat 0 4px;
	padding-left:20px;
}

#footer-logo-wrap {
	margin-top:30px;
	padding-top:20px;
	margin-left:6px;
	border-top:1px dotted #4A80DB;
	width:294px;
}

/* Testimonials */
.testimonials-wrap {
	padding:0 0 10px 40px;
	background:url(../images/quotes.png) no-repeat;
	margin-bottom:20px;
	border-bottom:1px dotted #4A80DB;
}

.testimonials-author {
	font-size:0.9em;
	color:#B4CEED;
	padding-right:30px;
	text-align:right;
}


/* Copyright */
#copyright-info {
	margin-top:60px;
	margin-bottom:60px;
	border-top:1px dotted #6d9cea;
}

#copyright-info div {
	float:left;
	color:#f0f6ff;
	padding-top:20px;
	font-size:1.1em;
}



